// Custom component for profile picture on the homepage

.profile {
    position: relative;
    height: 80vw;
    width: 80vw;
    border-radius: 5vw;
    margin: 0 auto;
    margin-top: 4vw;
    max-height: 42rem;
    max-width: 42rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(1rem, 4vw, 2.5rem);

    .profile-img {
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        position: relative;
        object-fit: cover;
    }

    .dots-1 {
        position: absolute;
        width: 3vw;
        right: 1.5vw;
        top: 4vw;

        svg {
            fill: $white;
        }
    }

    .dots-2 {
        position: absolute;
        width: 3vw;
        right: -4vw;
        top: 6.05vw;

        svg {
            fill: $primary;
        }
    }

    .dots-3 {
        position: absolute;
        width: 3vw;
        left: 1.5vw;
        bottom: 6.05vw;

        svg {
            fill: $white;
        }
    }

    .dots-4 {
        position: absolute;
        width: 3vw;
        left: -4vw;
        bottom: 4vw;

        svg {
            fill: $primary;
        }
    }

}

// Responsive styling for profile photo component

@include media-breakpoint-up(sm) {
    .profile {
        height: 65vw;
        width: 65vw;
    
        .profile-img {
            max-width: 95%;
        }
    
        .dots-1 {
            width: 3vw;
            right: 1.5vw;
        }
    
        .dots-2 {
            width: 3vw;
            right: -4vw;
        }
    
        .dots-3 {
            width: 3vw;
            left: 1.5vw;
        }
    
        .dots-4 {
            width: 3vw;
            left: -4vw;
        }
    
    }
}
@include media-breakpoint-up(md) {
    .profile {
        height: 55vw;
        width: 55vw;
    
        .profile-img {
            max-width: 90%;
        }
    
        .dots-1 {
            width: 3vw;
            right: 1.5vw;
        }
    
        .dots-2 {
            width: 3vw;
            right: -4vw;
        }
    
        .dots-3 {
            width: 3vw;
            left: 1.5vw;
        }
    
        .dots-4 {
            width: 3vw;
            left: -4vw;
        }
    
    }
}
@include media-breakpoint-up(lg) {
    .profile {
        height: 38vw;
        width: 38vw;
    
        .profile-img {
            max-width: 85%;
        }
    
        .dots-1 {
            width: 1.5vw;
            right: 0.75vw;
        }
    
        .dots-2 {
            width: 1.5vw;
            right: -2vw;
        }
    
        .dots-3 {
            width: 1.5vw;
            left: 0.75vw;
        }
    
        .dots-4 {
            width: 1.5vw;
            left: -2vw;
        }
    
    }
}

@include media-breakpoint-up(xl) {
    .profile {
        height: 32vw;
        width: 32vw;

        .profile-img {
            max-width: 80%;
        }

        .dots-1 {
            width: 1.5vw;
            right: 0.75vw;
        }

        .dots-2 {
            width: 1.5vw;
            right: -2vw;
        }

        .dots-3 {
            width: 1.5vw;
            left: 0.75vw;
        }

        .dots-4 {
            width: 1.5vw;
            left: -2vw;
        }
    }
}